<div class="container mt-5">
    <div *ngIf="keyboardList" class="row row-cols-sm-2 row-cols-md-3 w-100">
        <div class="col mb-4" *ngFor="let item of keyboardList">
            <div class="card h-100">
                <img src={{item.picture}}
                     class="card-img-top cardImage"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <p  class="card-text">{{item.price}} грн.</p>
                    <a  class="btn btn-primary"
                        [class.pointerIvents]="!item.inStock"
                        routerLink={{item.id}}
                        routerLinkActive="router-link-active">{{(item.inStock) ? 'Детальніше' : 'Немає в наявності'}}</a>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="!keyboardList" class="text-center">
        Інформація відсутня
    </div>
</div>