:host {
    color: white;
}

.title {
    height: 70px;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear {
    height: 50px;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: flex-end;
}

.buttonDeleteAll {
    position: relative;
    display: inline-block;
    width: 10em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #F64C2B;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}

a.buttonDeleteAll:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

.basketItem {
    min-height: 130px;
    background-color: rgba(0, 0, 0, 0.3);
    /* border: 1px solid #000; */
}

.itemPictureOnBasket {
    width: 120px;
    height: 120px;
}

.md-40 {
    font-size: 40px;
}

.deleteItemButton {
    padding: 0;
    border: none;
    color: inherit;
    background: transparent;
}

.deleteItemButton:active,
.deleteItemButton:hover,
.deleteItemButton:focus {
    color: transparent;
    border: none;
    outline: none;
}

.deleteItemIcon:hover {
    color: red!important;
}
/* 
.pictureOfItemDiv {
    border: 1px solid green;
}

.headerOfItem {
    border: 1px solid red;
}

.footerOfItem {
    border: 1px solid purple;
} */