:host {
    color: #000000;
}

.title {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear {
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.buttonDeleteAll {
    position: relative;
    display: inline-block;
    width: 10em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #F64C2B;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}

/* a.buttonDeleteAll:active {
    top: .2em;
    left: .2em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
} */

.basketItem {
    min-height: 130px;
    background-color: rgba(0, 0, 0, 0.3);
}

.itemPictureOnBasket {
    width: 120px;
    height: 120px;
}

.md-40 {
    font-size: 40px;
}

.deleteItemButton {
    padding: 0;
    border: none;
    color: inherit;
    background: transparent;
}

.deleteItemButton:active,
.deleteItemButton:hover,
.deleteItemButton:focus {
    color: transparent;
    border: none;
    outline: none;
}

.deleteItemIcon:hover {
    color: red!important;
}

.buttonDeleteItem{
    position: relative;
    display: inline-block;
    width: 10em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid rgb(43, 43, 43);
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em rgb(0, 0, 0);
    background: linear-gradient(rgb(194, 194, 194), rgb(184, 183, 183) 48%, rgb(102, 101, 101) 52%, rgb(66, 66, 66));
}