<div class="container mt-5">
    <div class="col-12 title">
        <h2>Кошик</h2>
    </div>

    <div class="col-12 clear">
        <button class="buttonDeleteAll" (click)="clearBasket()">Очистити</button>
    </div>

    <div class="mt-4 basketItem" *ngFor="let item of product">
        <div class="row">
            <div class="col-3 d-flex justify-content-center align-items-center pictureOfItemDiv">
                <img [src]="item.picture"
                     class="mt-1 itemPictureOnBasket"
                     alt="...">
            </div>

            <div class="col-8">
                <div class="col-12 row mt-3 headerOfItem">
                    <div class="col-5">
                        <p>Назва</p>
                    </div>
                    <div class="col-3">
                        <p>Код товару</p>
                    </div>
                    <div class="col-2">
                        <p>Ціна</p>
                    </div>
                    <div class="col-2">
                        <p>К-сть</p>
                    </div>
                </div>

                <div class="col-12 row mt-3 footerOfItem">
                    <div class="col-5">
                        <p>{{item.name}}</p>
                    </div>
                    <div class="col-3">
                        <p>{{item.id}}</p>
                    </div>
                    <div class="col-2">
                        <p>{{item.price}}</p>
                    </div>
                    <div class="col-2">
                        <p>{{item.count}}</p>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="col-1 d-flex align-items-center">
                <button class="deleteItemButton">
                    <span class="text-danger material-icons md-40 deleteItemIcon">
                        delete
                    </span>
                </button>
            </div>
        </div>
    </div>

    <div class="col-12 mt-5 d-flex justify-content-end">
        <div>
            <p><b>Загальна сума: ---</b></p>
        </div>
    </div>
</div>