footer{
    display: flex;
    width: 100%;

    background: lightgreen;
    color: lightyellow;

    background: #212121;
}

:host{
    flex: 0 0 auto;
}

img {
    width: 20px;
    height: 20px;
}

a {
    color: white;
}