<footer class="app-footer">

    <div class="container">
        <div class="row">

            <div class="col-3 info">
                <h5 class="pb-3 pt-3 pl-1">Інформація</h5>
                <div class="d-flex flex-column justify-content-center">
                        <a class="p-1" routerLink="delivery-and-payments">Доставка та оплата</a>
                        <a class="p-1" routerLink="about">Про нас</a>
                        <a class="p-1" routerLink="contacts">Контакти</a>
                </div>
            </div>

            <div class="col-3 info">
                <h5 class="pb-3 pt-3 pl-1">Точка видачі</h5>
                <div>
                    <address class="d-flex flex-column justify-content-center">
                        <span class="p-1">м. Львів</span>
                        <span class="p-1">вул. Промислова 50а</span>
                        <div class="pt-3 pl-1 d-flex flex-column">
                            <span>Пн-Сб: 08:00-18:00</span>
                            <span>Нд: 08:00-15:00</span>
                        </div>
                    </address>
                    
            </div>
            </div>
            
            <div class="col-3 info">
                <h5 class="pb-3 pt-3 pl-1">Консультація</h5>
                <div class="d-flex flex-column justify-content-center">
                    <span class="p-1">(063) 447-09-40</span>
                    <span class="p-1">(063) 035-19-60</span>
                    <span class="p-1">(067) 274-22-30</span>
                </div>
            </div>
        </div>
    </div>

</footer>


