// nav{
//     .dropDown {
//     position: relative;
//     display: inline-block;
//     top: 8px;
//     height: 57px;

//         .mainMenuBtn {
//             background-color: #343a40;
//             color: white;
//             border: none;
//             cursor: pointer;
//         }

//         .dropDownChild {
//         display: none;
//         background-color: rgb(119, 119, 119);
//         min-width: 200px;
//         margin-top: 24px;

//             a {
//                 color: white;
//                 padding: 10px;
//                 text-decoration: none;
//                 display: block;
//             }
//         }
//     }

//     .dropDown:hover .dropDownChild {
//             position: fixed;
//             display: block;
//         }
// }
    

.basket {
    padding: 0;
    display: flex;
    justify-content: center;
    color: rgb(211, 211, 211);
    font-size: 38px;
    text-decoration: none;
}

