<div class="container mt-5">
    <h2  class="mt-4 popularProdutsH2"><b>Популярні товари</b></h2>

    <div class="mt-4">
        <div class="row row-cols-sm-2 row-cols-md-4 w-100">
            <div class="col mb-3">
                <div class="card h-100">
                    <img src="assets/images/products/grills/grill1.jpeg"
                        class="card-img-top cardImage"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Multi Grill Cooks SD002</h5>
                        <!-- <p class="card-text"></p> -->
                        <p  class="card-text mb-5">490 грн.</p>
                        <a  class="btn btn-primary pl-3 pr-3 mb-3 buttonDetails"
                            routerLink="//grill/101"
                            routerLinkActive="router-link-active">Детальніше</a>
                    </div>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card h-100">
                    <img src="assets/images/products/mixers/mixer1.jpg"
                        class="card-img-top cardImage"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PHILIPS HR3740/00</h5>
                        <!-- <p class="card-text"></p> -->
                        <p  class="card-text mb-5">999 грн.</p>
                        <a  class="btn btn-primary pl-3 pr-3 mb-3 buttonDetails"
                            routerLink="//mixer/501"
                            routerLinkActive="router-link-active">Детальніше</a>
                    </div>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card h-100">
                    <img src="assets/images/products/blenders/blender1.png"
                        class="card-img-top cardImage"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BRAUN MQ 3145 APERITIVE</h5>
                        <!-- <p class="card-text"></p> -->
                        <p  class="card-text mb-5">1699 грн.</p>
                        <a  class="btn btn-primary pl-3 pr-3 mb-3 buttonDetails"
                            routerLink="//blender/201"
                            routerLinkActive="router-link-active">Детальніше</a>
                    </div>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card h-100">
                    <img src="assets/images/products/loudSpeakers/loudSpeaker2.jpg"
                        class="card-img-top cardImage"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tracer Rave BT</h5>
                        <!-- <p class="card-text"></p> -->
                        <p  class="card-text mb-5">1799 грн.</p>
                        <a  class="btn btn-primary pl-3 pr-3 mb-3 buttonDetails"
                            routerLink="//loud-speaker/402"
                            routerLinkActive="router-link-active">Детальніше</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        
</div>
