.app-header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    top: 0;
    background: linear-gradient(to top, #cc0000 0%, #800000 67%);
    width: 100%;
    min-height: 150px;
    text-align: center;
}