.app-header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    top: 0;
    background: #CECECE;
    width: 100%;
    min-height: 150px;
    text-align: center;
    color: gray;
}