<div class="container mt-5">
    <div *ngIf="mouseList" class="row row-cols-sm-2 row-cols-md-4 w-100">
        <div class="col mb-3" *ngFor="let item of mouseList">
            <div class="card h-100">
                <img src={{item.picture}}
                     class="card-img-top cardImage"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <p  class="card-text mb-5">{{item.price}} грн.</p>
                    <a  class="btn btn-primary pl-3 pr-3 mb-3 buttonDetails"
                        [class.pointerIvents]="!item.inStock"
                        routerLink={{item.id}}
                        routerLinkActive="router-link-active">{{(item.inStock) ? 'Детальніше' : 'Немає в наявності'}}</a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!mouseList" class="text-center">
        Інформація відсутня
    </div>
</div>