<carousel [noPause]="false" [isAnimated]="true">
    <slide>
      <div class="darkened" style="display: block; width: 100%; height: 590px; background-color: rgba(0,0,0,0.2);"></div>
      <img src="assets/images/carousel/slideOne.gif" alt="First slide" style="display: block; width: 100%; height: 590px;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Клавіатури</h3>
        <p><b>Наші товари обмежать вас в піклуванні про товар</b></p>
      </div>
    </slide>
    <slide>
      <div class="darkened" style="display: block; width: 100%; height: 590px; background-color: rgba(0,0,0,0.2);"></div>
      <img src="assets/images/carousel/slideTwo.gif" alt="Second slide" style="display: block; width: 100%; height: 590px;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Колонки</h3>
        <p><b>Наші ціни - це нові яскраві кольори в вашому житті!</b></p>
      </div>
    </slide>
    <slide>
      <div class="darkened" style="display: block; width: 100%; height: 590px; background-color: rgba(0,0,0,0.5);"></div>
      <img src="assets/images/carousel/slideThree.gif" alt="Third slide" style="display: block; width: 100%; height: 590px;">
      
      <div class="carousel-caption d-none d-md-block">
        <h3>Грилі</h3>
        <p><b>Наш магазин подбає про ваш відпочинок!</b></p>
      </div>
    </slide>
  </carousel>