<div class="app-user-order">
    <!-- (newOrder)="takeUserOrder($event)" -->
    <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()"          >
        <div class="form-group col-8 mt-4">
            <p><b>Ім'я</b>
                <input class="form-control"
                       [ngClass]="{'is-invalid': newUserForm.get('firstName').dirty && isSubmit && newUserForm.get('firstName').invalid,
                                   'is-valid':   newUserForm.get('firstName').dirty && isSubmit && newUserForm.get('firstName').valid }"
                    id="validationTextarea"
                    type="text"
                    placeholder="Обов'язково"
                    formControlName="firstName"
                    required
                    autocomplete="off">
            </p>
            <div *ngIf="isSubmit && newUserForm.get('firstName').invalid" class="text-danger">
                <span *ngIf="newUserForm.get('firstName').errors.required">
                    Введіть данні</span>
                <span *ngIf="newUserForm.get('firstName').errors.minlength">
                    Мінімальна довжина 2 символи</span>
            </div>
        </div>
    
        <div class="form-group col-8 mt-4">
            <p><b>Прізвище</b>
                <input class="form-control"
                       [ngClass]="{'is-invalid': newUserForm.get('secondName').dirty && isSubmit && newUserForm.get('secondName').invalid,
                                   'is-valid':   newUserForm.get('secondName').dirty && isSubmit && newUserForm.get('secondName').valid }"
                    id="validationTextarea"
                    type="text"
                    placeholder="Обов'язково"
                    formControlName="secondName"
                    required
                    autocomplete="off">
            </p>
                    
            <div *ngIf="isSubmit && newUserForm.get('secondName').invalid" class="text-danger">
                <span *ngIf="newUserForm.get('secondName').errors.required">
                    Введіть данні</span>
                <span *ngIf="newUserForm.get('secondName').errors.minlength">
                    Мінімальна довжина 2 символи</span>
            </div>
        </div>
    
        <div class="form-group col-8 mt-4">
            <p><b>По-батькові</b>
                <input class="form-control"
                       [ngClass]="{'is-invalid': newUserForm.get('surname').dirty && isSubmit && newUserForm.get('surname').invalid,
                                   'is-valid':   newUserForm.get('surname').dirty && isSubmit && newUserForm.get('surname').valid }"
                    id="validationTextarea"
                    type="text"
                    placeholder="Обов'язково"
                    formControlName="surname"
                    required
                    autocomplete="off">
            </p>

            <div *ngIf="isSubmit && newUserForm.get('surname').invalid"  class="text-danger">
                <span *ngIf="newUserForm.get('surname').errors.required">
                    Введіть данні</span>
                <span *ngIf="newUserForm.get('surname').errors.minlength">
                    Мінімальна довжина 3 символи</span>
            </div>
        </div>
    
        <div class="form-group col-8 mt-4">
            <p><b>Місто</b>
                <input class="form-control"
                       [ngClass]="{'is-invalid': newUserForm.get('city').dirty && isSubmit && newUserForm.get('city').invalid,
                                   'is-valid':   newUserForm.get('city').dirty && isSubmit && newUserForm.get('city').valid }"
                    id="validationTextarea"
                    type="text"
                    placeholder="Обов'язково"
                    formControlName="city"
                    required
                    autocomplete="off">
            </p>
    
            <div *ngIf="isSubmit && newUserForm.get('city').invalid"  class="text-danger">
                <span *ngIf="newUserForm.get('city').errors.required">
                    Введіть данні</span>
                <span *ngIf="newUserForm.get('city').errors.minlength">
                    Мінімальна довжина 3 символи</span>
            </div>
        </div>
    
        <div class="form-group col-8 mt-4">
            <p><b>Номер відділення НП або будинок та квартира для адресної доставки</b>
                <input class="form-control"
                       [ngClass]="{'is-invalid': newUserForm.get('postNumber').dirty && isSubmit && newUserForm.get('postNumber').invalid,
                                   'is-valid':   newUserForm.get('postNumber').dirty && isSubmit && newUserForm.get('postNumber').valid }"
                    id="validationTextarea"
                    type="text"
                    placeholder="Обов'язково"
                    formControlName="postNumber"
                    required
                    autocomplete="off">
            </p>
    
            <div *ngIf="isSubmit && newUserForm.get('postNumber').invalid"  class="text-danger">
                <span *ngIf="newUserForm.get('postNumber').errors.required">
                    Введіть данні</span>
                <span *ngIf="newUserForm.get('postNumber').errors.minlength">
                    Мінімальна довжина 1 символ</span>
            </div>
        </div>
    
        <div class="form-group col-8 mt-4">
            <p><b>Телефон</b>
                <input class="form-control"
                    [ngClass]="{'is-invalid': newUserForm.get('phone').dirty && isSubmit && newUserForm.get('phone').invalid,
                                'is-valid':   newUserForm.get('phone').dirty && isSubmit && newUserForm.get('phone').valid }"
                    id="validationTextarea"
                    type="tel"
                    placeholder="Обов'язково"
                    formControlName="phone"
                    required
                    autocomplete="off">
            </p>
    
            <div *ngIf="isSubmit && newUserForm.get('phone').invalid"  class="text-danger">
                <span *ngIf="newUserForm.get('phone').errors.required">
                    Введіть данні</span>
                <span *ngIf="newUserForm.get('phone').errors.minlength">
                    Мінімальна довжина 10 символів</span>
            </div>
        </div>
    
    
        <div class="form-group col-12 mt-4">
            <p><b>Додаткова інформація</b>
                <textarea class="form-control" 
                        rows="5"
                        placeholder="Не обов'язково" 
                        formControlName="addItionalInfo">
                </textarea>
            </p>
        </div>

        <button class="btn btn-primary ml-auto d-flex jusiify-content-between mt-4 mb-5" 
                type="submit">Підтвердити покупку</button>
    </form>
</div>
