<div class="container">
    <h2 class="text-center">Чи краще купувати в інтернет магазині?</h2>
    <p>Ми надаємо Вам перевагу в покупках онлайн - отримання в зручний для Вас час та зручному місці. Надаємо можливість оплатити як готівкою,так і картою.</p>

    <h3 class="text-center">Доставка по Україні</h3>
    <p>При формуванні замовлення, ви вказуєте данні, за якими буде відбуватись відправка товару, в наступний день ми відгружаємо товар і вам приходить смс з номером накладної. Відстежуєте замовлення, забираєте та насолоджуєтесь. Оплата по тарифамм перевізника. Відправляємо</p>
    <h3 class="text-center">Доставка по Львову</h3>
    <p>Також можлива кур'єрська доставка по Львову. Ціна - 50 грн. Привілегії:</p>
    <ul>
        <li>Ви отримуєте замовлення в цей ж день, коли замовили.</li>
        <li>Назначаєте час та місце.</li>
        <li>Маєте можливість перевірити товар.</li>
        <li>Якщо товар не підійшов, не оплачуєте доставку</li>
        <li>Оплата можлива як на карту, так і готівкою</li>
    </ul>

    <h3 class="text-center">Самовивіз з магазину</h3>
    <p>В робочий час Ви маєте можливість прийти в магазин та отримати своє замовлення. В магазині Ви отримаєте професійні поради та консультації щодо обслуговування товару. Оплата в магазині згідно ціни на сайті, є можливість оплатити картою або готівкою.</p>

    <h3 class="text-center">Як оформити замовлення?</h3>
    <p>Оформити замовлення на сайті Ви можете цілодобово. При оформленні покупки вкажіть бажаний спосіб доставки товару: «Нова пошта», «Meest»,самовивіз з магазину, а також зручну для Вас форму оплати. Якщо Ви оформили замовлення з 9:00, ми зв'яжемося з Вами протягом дня. Якщо Ви оформили замовлення після 20:00, ми зв'яжемося з Вами на наступний день до 12:00.</p>
    <!-- <p>Якщо виникли питання, зателефонуйте нам: <a routerLink="contacts">Контакти</a></p> -->
</div>

