<div class="container mt-5">
    <h2 class="text-center">Зв'язок з нами</h2>

        <h5>Знаходимось ми за адресою:</h5>
        <i>м. Львів, вул. Промислова 50а</i><br><br>

        <h5>Графік роботи:</h5>
        <p>Пн-Сб: 08:00-18:00</p>
        <p>Нд: 08:00-15:00</p><br>

        <h5>Зв'язатись можете з нами за номером:</h5>
        <b>(063) 447-09-40</b><br>
        <b>(063) 035-19-60</b><br>
        <b>(067) 274-22-30</b><br><br>

        <div class="viberText">
            <b>Також можете писати на Viber або надіслати SMS-повідомлення</b>
        </div>
</div>