<div class="container">
    <div class="card mb-3 pt-5 pl-5 mt-2">
        <div class="row no-gutters">
            <div class="row">
                <div class="col-md-3">
                    <img [src]="grill.picture"
                         class="card-img-top h-220"
                         alt="...">
                </div>

                <div class="col-md-8">
                    <div class="card-body row">
                    <div class="col-6 h-220">
                        <p class="text-success">{{(grill.inStock) ? 'В наявності' : 'Немає в наявності'}}</p>
                        <p style="font-size: x-large;"><b>{{grill.price}} грн.</b></p>
                        <button class="btn btn-primary buttonAddToBasket" type="submit" (click)="setToBasket()">До корзини</button>
                    </div>

                    <div class="col-6">
                        <h5 class="card-title">{{grill.title}}</h5>
                        <p class="card-text p-1">{{grill.details}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mt-5 col-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Характеристики</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of grill.characteristicList">
                        <td>{{item.lable}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
